<%- include('../includes/head.ejs') %>

</head>

<body>
    <div class="container">
    <h2>Forgot Password</h2>
    <form action="/forgotpassword" method="POST" class="was-validated">
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Your Email to received the link to reset your password" name="email" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/login"><button style="margin-top:10px;margin-left:2px;" type="submit" class="btn btn-primary">Return</button></a>

  </div>




<%- include('../includes/end.ejs') %>