<%- include('../includes/head.ejs') %>

</head>

<body>
    <div class="container">
    <h2>Forgot Password</h2>
    <form action="/resetpassword/<%= token %>" method="POST" class="was-validated">
      <div class="form-group">
        <label for="password">Password :</label>
        <input type="password" class="form-control" id="password" placeholder="Your new password" name="password" required>
        <input type="password" class="form-control" id="password2" placeholder="Confirm your new password" name="password2" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>




<%- include('../includes/end.ejs') %>